body {
  background-color: #f0f0f0;
}

p {
  color: #45484a;
}

.nav {
  padding: 4vh;
  display: flex;
}

.nav-box {
  width: 12vh;
  height: 12vh;
}

.shift-to-right {
  margin-left: auto;
  margin-right: 0;
}

#ans-feedback-box {
  background-color: #92c99a;
  height: 12vh;
  width: auto;
  border-radius: 6vh;
  border-style: solid;
  border-color: #45484a;
  border-width: 0.2vh;
  padding: 0.6vh;
}

#tick-box {
  float: left;
  background-color: #f0f0f0;
  height: 10vh;
  width: 10vh;
  border-radius: 5vh;
  margin: 0.6vh;
}

#ans-feedback {
  float: right;
  margin: 1.2vh;
  vertical-align: central;
  font-size: 2.8vh;
}

#tick {
  color: #109648;
  font-size: 7vh;
  vertical-align: central;
  margin-left: 2.4vh;
  margin-top: -0.5vh;
}

#chart-icon {
  width: 12vh;
  height: 12vh;
  margin: 0;
  float: right;
}

#gear-icon {
  width: 14vh;
  height: 14vh;
  margin: -1vh;
  float: right;
}