body {
  background-color: #f0f0f0;
}

p {
  color: #45484a;
}

.nav {
  padding: 5vh;
  display: flex;
}

img {
  width: 8vh;
  height: 8vh;
}

.nav-box {
  
}

#ans-feedback-box {
  background-color: #92c99a;
  height: 10vh;
  width: auto;
  border-radius: 5vh;
  border-style: solid;
  border-color: #45484a;
  border-width: 0.2vh;
  padding: 0.5vh;
}

#tick-box {
  float: left;
  background-color: #f0f0f0;
  height: 8vh;
  width: 8vh;
  border-radius: 4vh;
  margin: 0.5vh;
}

#ans-feedback {
  float: right;
  margin: 1vh;
  vertical-align: central;
  font-size: 2.3vh;
}

#tick {
  color: #109648;
  font-size: 6vh;
  vertical-align: central;
  margin-left: 2vh;
  margin-top: -0.4vh;
}

#